//Iconfont
@import "../../font/GesisIcons/style";

// Source Sans Pro
@font-face {
	font-family: "Source Sans Pro";
	src: url("#{$fonts-path}/SourceSansPro/SourceSansPro-Light.woff") format("woff"), 
	url("#{$fonts-path}/SourceSansPro/SourceSansPro-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url("#{$fonts-path}/SourceSansPro/SourceSansPro-Regular.woff") format("woff"), 
	url("#{$fonts-path}/SourceSansPro/SourceSansPro-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url("#{$fonts-path}/SourceSansPro/SourceSansPro-Italic.woff") format("woff"), 
	url("#{$fonts-path}/SourceSansPro/SourceSansPro-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url("#{$fonts-path}/SourceSansPro/SourceSansPro-Bold.woff") format("woff"), 
	url("#{$fonts-path}/SourceSansPro/SourceSansPro-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url("#{$fonts-path}/SourceSansPro/SourceSansPro-Bold-Italic.woff") format("woff"), 
	url("#{$fonts-path}/SourceSansPro/SourceSansPro-Bold-Italic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("#{$fonts-path}/SourceSansPro/SourceSansPro-SemiBold-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}